# latex with texmaker

*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.xml
*.bcf
*.synctex(busy)
*.synctex.gz
